body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

#wrapper .panel {
    font-size: 10px;
    margin-bottom: 40px;
    width: 500px;
    color: #000;
    background-color: #f6f4f0;
    background-color: #d0e69c;
    background-color: #dcecb5;
    background-color: #e5eecc;
    border: 1px solid #d4d4d4;
    background-image: -webkit-linear-gradient(#fff, #e5eecc 100px);
    background-image: linear-gradient(#fff, #e5eecc 100px);
    position: absolute;
    top: 0;
    right: 0
}

#wrapper .panel.ui {
    width: 244px;
}

#wrapper .panel.ui.fullheight {
    height: 100%;
}

#wrapper .panel .panel-header {
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    padding: 0px 10px;
    border-bottom: 1px solid #d4d4d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
}


#wrapper .panel .panel-header .fold {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid gray;
    transition: 0.5s;
}

#wrapper .panel .panel-header .fold.down {
    transform: rotate(180deg);
}


#wrapper .panel .panel-body {
    /* padding: 10px; */
    /* transition: 0.5s; */
    height: calc(100% - 60px);
    overflow-y: auto;
}

#wrapper .panel .panel-footer {
    width: 100%;
    text-align: center;
    padding: 4px;
}

#wrapper .panel .panel-body.fadeup {
    margin-top: -999px;
}

#wrapper .panel .panel-body.hide,
#wrapper .panel .panel-footer.hide {
    display: none;
}

#wrapper .panel .panel-footer button {
    padding: 0px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

.panel .form-item {
    display: flex;
    margin-bottom: 4px;
}

.panel .form-item .form-item-label {
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.panel .form-item .form-item-input,
.panel .form-item .form-item-inputnumber,
.panel .form-item .form-item-select {
    border: 1px solid #ccc;
    padding: 0 2px;
    height: 28px;
    line-height: 28px;
    width: 100px;
}

.panel .form-item .form-item-textarea {
    width: 300px;
    height: 50px
}

.panel .form-item .form-item-btn {
    width: 100px;
    text-align: center;
}

.panel table {
    width: 100%;
    outline: 1px solid #ccc;
}

.panel table th,
.panel table td {
    outline: 1px solid #ccc;
    padding: 4px;
}

.form-group-item {
    border-bottom: 1px solid #ccc;
}

.form-group-item:last-child {
    border: none
}

.form-group-item-title {
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    line-height: 30px;
    background-color: #dedede;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group-item-body {
    transition: 0.5s;
}

.form-group-item-body.hide {
    display: none;
}

.icon {
    width: 8px;
    height: 8px;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    transform: rotate(45deg);
    transition: 0.5s;
}

.icon.up {
    transform: rotate(225deg);
}

.icon.down {
    transform: rotate(45deg);
}

.icon.right {
    transform: rotate(-45deg);
}

.icon.left {
    transform: rotate(135deg);
}